@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<center>
    <img src="https://cdn.flickeringmyth.com/wp-content/uploads/2020/02/green-hornet-600x376.jpg" />
</center>

